{% macro menu_item(item) %}
    {% if item.route or item.hasChildren %}
        <li id="{{ item.identifier }}" class=" {{ item.isActive ? 'active' : '' }} {{ item.hasChildren? 'treeview' : '' }}">
            <a href="{{ item.hasChildren ? '#': '/' in item.route ? item.route : path(item.route, item.routeArgs) }}">
                {% if item.icon %}<span class="{{ item.icon }}"></span>{% endif %}
                <span class="nav-label">{{ item.label }}</span>
                {% if item.badge %}
                    <small class="label pull-right bg-{{ item.badgeColor }}">{{ item.badge }}</small>
                {% endif %}
                {% if item.hasChildren %}<i class="fa fa-angle-left pull-right"></i>{% endif %}
            </a>

            {% if item.hasChildren %}
{#                <ul class="treeview-menu">#}
                    {% for child in item.children %}
                        <li class="{{ child.isActive ? 'active':'' }}" id="{{ child.identifier }}">
                            <a href="{{ '/' in child.route ? child.route : path(child.route, child.routeArgs) }}">
                                <span class="{{ child.icon|default('fa fa-circle-o') }}"></span>
                                <span class="nav-label">{{ child.label }}</span>
                            </a>
                        </li>
                    {% endfor %}
{#                </ul>#}
            {% endif %}
        </li>
    {% else %}
        <li class="header">
            {{ item.label }}
            {% if item.badge %}
                <small class="label pull-right bg-{{ item.badgeColor }}">{{ item.badge }}</small>
            {% endif %}
        </li>
    {% endif %}
{% endmacro %}

{% macro form_errors(field) %}
    {% if not field.vars.valid %}
    <ul class="help-block">
    {% for error in field.vars.errors %}
        <li>{{ error.message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
{% endmacro %}